<h1>Landing Page</h1>

<div (mouseenter)="buildPikachu()" (mouseleave)="pikachuToHover()" [innerText]="text"></div>
<br>
<br>
<br>
<nav>
  <a routerLink="/number-ui" routerLinkActive="active" ariaCurrentWhenActive="page">Number To 30</a>
  <br>
  <a routerLink="/firstForm" routerLinkActive="active" ariaCurrentWhenActive="page">First Form</a>
  <br>
  <a routerLink="/shoppingCart" routerLinkActive="active" ariaCurrentWhenActive="page">Shopping Cart</a>
  <br>
  <a routerLink="/orderManage" routerLinkActive="active" ariaCurrentWhenActive="page">Order Manager</a>
  <br>
  <a routerLink="/giphySearch" routerLinkActive="active" ariaCurrentWhenActive="page">Giphy Search</a>
  <br>
  <a routerLink="/registerPage" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
  <br>
  <a routerLink="/goodreads" routerLinkActive="active" ariaCurrentWhenActive="page">Good Reads</a>
  <br>
  <a routerLink="/webcam" routerLinkActive="active" ariaCurrentWhenActive="page">Webcam</a>
</nav>