.buttons {
    padding: 3px 5px;
    border: 1px solid;
}

.p {
    flex-wrap: wrap;
    display:inline;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.div {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.hover-number {
    color: aqua;
}