.container{
    display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;     /* center items vertically, in this case */
    height: 300px;

    .left {
        margin-right: auto;
        margin-left: auto;
    }

    .right {
        margin-left: auto;
        margin-right: auto
    }
}
